<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Title Meta -->
    <meta charset="utf-8" />
    <title>Home | Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully responsive premium admin dashboard template" />
    <meta name="author" content="Techzaa" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{assets/images/favicon.ico}" />

    <!-- Vendor CSS (Require in all Page) -->
    <link th:href="@{assets/css/vendor.min.css}" rel="stylesheet" type="text/css" />

    <!-- Icons CSS (Require in all Page) -->
    <link th:href="@{assets/css/icons.min.css}" rel="stylesheet" type="text/css" />

    <!-- App CSS (Require in all Page) -->
    <link th:href="@{assets/css/app.min.css}" rel="stylesheet" type="text/css" />

    <!-- Theme Config JS (Require in all Page) -->
    <script th:src="@{assets/js/config.js}"></script>

</head>
<body>

<!-- START Wrapper -->
<div class="wrapper">


    <!-- ========== Topbar Start ========== -->
    <div th:include="~{fragments/manager/header.html}"></div>
    <!-- ========== Topbar End ========== -->

    <!--               Start menu app-->
    <div th:include="~{fragments/manager/menu_app.html}"></div>


    <!-- ==================================================== -->
    <!-- Start right Content here -->
    <!-- ==================================================== -->
    <div class="page-content">

        <!-- Start Container Fluid -->
        <div class="container-xxl">

            <div class="row">
                <div class="col-md-6 col-xl-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="rounded bg-secondary-subtle d-flex align-items-center justify-content-center mx-auto">
                                <img src="assets/images/product/p-1.png" alt="" class="avatar-xl">
                            </div>
                            <h4 class="mt-3 mb-0">Fashion Categories</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="rounded bg-primary-subtle d-flex align-items-center justify-content-center mx-auto">
                                <img src="assets/images/product/p-6.png" alt="" class="avatar-xl">
                            </div>
                            <h4 class="mt-3 mb-0">Electronics Headphone</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="rounded bg-warning-subtle d-flex align-items-center justify-content-center mx-auto">
                                <img src="assets/images/product/p-7.png" alt="" class="avatar-xl">
                            </div>
                            <h4 class="mt-3 mb-0">Foot Wares</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="rounded bg-info-subtle d-flex align-items-center justify-content-center mx-auto">
                                <img src="assets/images/product/p-9.png" alt="" class="avatar-xl">
                            </div>
                            <h4 class="mt-3 mb-0">Eye Ware & Sunglass</h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Container Fluid -->

        <!-- ========== Footer Start ========== -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <script>document.write(new Date().getFullYear())</script> &copy; Manager <iconify-icon icon="iconamoon:heart-duotone" class="fs-18 align-middle text-danger"></iconify-icon> <a
                            href="/manager" class="fw-bold footer-text" target="_blank">Home</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ========== Footer End ========== -->

    </div>
    <!-- ==================================================== -->
    <!-- End Page Content -->
    <!-- ==================================================== -->


</div>
<!-- END Wrapper -->

<!-- Vendor Javascript (Require in all Page) -->
<script src="assets/js/vendor.js"></script>

<!-- App Javascript (Require in all Page) -->
<script src="assets/js/app.js"></script>

</body>


</html>