<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="slider">
<div class="slider-area home1">
    <div class="bend niceties preview-2">
        <div id="nivoslider" class="slides">
            <img src="/img/slider/slider-1.jpg" alt="" title="#slider-direction-1" />
            <img src="/img/slider/slider-2.jpg" alt="" title="#slider-direction-2" />
        </div>
        <!-- direction 1 -->
        <div id="slider-direction-1" class="t-cn slider-direction">
            <div class="slider-progress"></div>
            <div class="slider-content t-lfl s-tb slider-1">
                <div class="title-container s-tb-c title-compress">
                    <h1 class="title1">Sale products</h1>
                    <h2 class="title2" >nike Ari max 2015</h2>
                    <h3 class="title3" >Lorem Ipsum is simply dummy text of the printing</h3>
                    <a href="#"><span>read more</span></a>
                </div>
            </div>
        </div>
        <!-- direction 2 -->
        <div id="slider-direction-2" class="slider-direction">
            <div class="slider-progress"></div>
            <div class="slider-content t-lfl s-tb slider-2">
                <div class="title-container s-tb-c">
                    <h1 class="title1">Sale products</h1>
                    <h2 class="title2" >GET UP TO 50% SALE</h2>
                    <h3 class="title3" >Lorem Ipsum is simply dummy text of the printing</h3>
                    <a href="#"><span>read more</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>