<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <div class="main-nav">
        <!-- Sidebar Logo -->
        <div class="logo-box">
            <a href="" class="logo-dark">
                <img src="/assets/images/logo-sm.png" class="logo-sm" alt="logo sm">
                <img src="/assets/images/logo-dark.png" class="logo-lg" alt="logo dark">
            </a>

            <a href="" class="logo-light">
                <img src="/assets/images/logo-sm.png" class="logo-sm" alt="logo sm">
                <img src="/assets/images/logo-light.png" class="logo-lg" alt="logo light">
            </a>
        </div>

        <!-- Menu Toggle Button (sm-hover) -->
        <button type="button" class="button-sm-hover" aria-label="Show Full Sidebar">
            <iconify-icon icon="solar:double-alt-arrow-right-bold-duotone" class="button-sm-hover-icon"></iconify-icon>
        </button>

        <div class="scrollbar" data-simplebar>
            <ul class="navbar-nav" id="navbar-nav">

                <li class="menu-title">General</li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin">
                                   <span class="nav-icon">
                                        <iconify-icon icon="solar:widget-5-bold-duotone"></iconify-icon>
                                   </span>
                        <span class="nav-text"> Dashboard </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-arrow" href="#sidebarProducts" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarProducts">
                                   <span class="nav-icon">
                                        <iconify-icon icon="solar:t-shirt-bold-duotone"></iconify-icon>
                                   </span>
                        <span class="nav-text"> Products </span>
                    </a>
                    <div class="collapse" id="sidebarProducts">
                        <ul class="nav sub-navbar-nav">
                            <li class="sub-nav-item">
                                <a class="sub-nav-link" href="/admin/product">List</a>
                            </li>
                            <li class="sub-nav-item">
                                <a class="sub-nav-link" href="/admin/product/insertProductPage">Create</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-arrow" href="#sidebarCategory" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarCategory">
                                   <span class="nav-icon">
                                        <iconify-icon icon="solar:clipboard-list-bold-duotone"></iconify-icon>
                                   </span>
                        <span class="nav-text"> Category </span>
                    </a>
                    <div class="collapse" id="sidebarCategory">
                        <ul class="nav sub-navbar-nav">
                            <li class="sub-nav-item">
                                <a class="sub-nav-link" href="/admin/category">List</a>
                            </li>
                            <li class="sub-nav-item">
                                <a class="sub-nav-link" href="/admin/category/insertCategoryPage">Create</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-arrow" href="#sidebarInventory" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarInventory">
                                   <span class="nav-icon">
                                        <iconify-icon icon="solar:box-bold-duotone"></iconify-icon>
                                   </span>
                        <span class="nav-text"> Inventory </span>
                    </a>
                    <div class="collapse" id="sidebarInventory">
                        <ul class="nav sub-navbar-nav">

                            <li class="sub-nav-item">
                                <a class="sub-nav-link" href="/admin/inventory">List</a>
                            </li>
                            <li class="sub-nav-item">
                                <a class="sub-nav-link" href="/admin/inventory/insertPage">Add</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-arrow" href="#sidebarOrders" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarOrders">
                                   <span class="nav-icon">
                                        <iconify-icon icon="solar:bag-smile-bold-duotone"></iconify-icon>
                                   </span>
                        <span class="nav-text"> Orders </span>
                    </a>
                    <div class="collapse" id="sidebarOrders">
                        <ul class="nav sub-navbar-nav">

                            <li class="sub-nav-item">
                                <a class="sub-nav-link" th:href="@{/admin/order/list}">List</a>
                            </li>
                            <li class="sub-nav-item">
                                <a class="sub-nav-link" href="order-detail.html">Details</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-arrow" href="#sidebarDiscount" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDiscount">
                    <span class="nav-icon">
                        <!-- Sử dụng biểu tượng giảm giá từ Iconify -->
                        <iconify-icon icon="mdi:tag-heart-outline"></iconify-icon>
                    </span>
                        <span class="nav-text"> Discount </span>
                    </a>

                    <div class="collapse" id="sidebarDiscount">
                        <ul class="nav sub-navbar-nav">
                            <li class="sub-nav-item">
                                <a class="sub-nav-link" href="/admin/discount-list">List</a>
                            </li>
                            <li class="sub-nav-item">
                                <a class="sub-nav-link" href="/admin/discount-add">Create</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/permission">
                                   <span class="nav-icon">
                                        <iconify-icon icon="mdi:account"></iconify-icon>
                                   </span>
                        <span class="nav-text"> Permission </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-arrow" href="#sidebarShippingCompany" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarShippingCompany">
                    <span class="nav-icon">
                        <!-- Use the shipping company icon from Iconify -->
                        <iconify-icon icon="mdi:truck-delivery-outline"></iconify-icon>
                    </span>
                        <span class="nav-text"> Shipping Company </span>
                    </a>

                    <div class="collapse" id="sidebarShippingCompany">
                        <ul class="nav sub-navbar-nav">
                            <li class="sub-nav-item">
                                <a class="sub-nav-link" href="/admin/shipping_company/list">List</a>
                            </li>
                            <li class="sub-nav-item">
                                <a class="sub-nav-link" href="/admin/shipping_company/add">Create</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a th:href="@{/logout}" class="nav-link" href="pages-profile.html">
                        <span class="nav-text"> Logout </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>